<%= render "public/sessions/header" %>

<div>
<p>ようこそ、ながのCAKEへ！<br>
   このサイトは、ケーキ販売のECサイトになります。<br>
   会員でない方も商品の閲覧はできますが、<br>
   購入には会員登録が必要になります。</p>
</div>

<div>
  <h3>新着商品</h3>
  <% @items.each do |item| %>
    <%= image_tag item.get_image(100,100) %>
    <%= link_to item_path(item.id) do %>
     <%= item.name %>
    <% end %>  
    <%= item.price %>
  <% end %> 
</div>