<%= render "public/sessions/header" %>

<h3>商品一覧</h3>
<% @items.each do |item| %>
 <% if item.is_active == true %>
  <%= link_to item_path(item.id) do %>
   <%= image_tag item.get_image(100,100) %>
  <% end %>
  <%= item.name %>
  <%= item.price %>
 <% end %> 
<% end %>