<%= render "public/sessions/header" %>

<div class='container'>
 <div class='row'>
  <div class='col-8 offset-1'>
   <div class='col mt-4 mb-4'>
     
    <div>
     <div class="row">
      <div class="col-3 offset-1">
       <%= image_tag @item.get_image(100,100) %>
      </div>
      
      <div class="col-7">
       <h3><%= @item.name %></h3>
       <p><%= @item.introduction %></p>
       <p><%= @item.with_tax_price %>(税込)</p>
      
       <%= form_with model: @cart_item, url: cart_items_path, method: :post do |f| %>
       
        <% if @cart_item.errors.any? %>
          <h3><%= pluralize(@cart_item.errors.count, "error") %> prohibited this obj from being saved:</h3>
          <ul>
          <% @cart_item.errors.full_messages.each do |message| %>
           <li><%= message %></li>
          <% end %> 
          </ul>
        <% end %>
       
        <%= f.hidden_field :item_id, :value => @item.id %>
        <%= f.hidden_field :customer_id, :value => current_customer.id %>
        <%= f.select :amount, *[1..10] %>
        <%= f.submit "カートに入れる" %>
       <% end %> 
      </div>
     </div>
    </div> 
      
   </div>
  </div>
 </div>
</div> 